.successMember{
    display: flex;
    align-items: center;
    
    justify-content: center;
    background-color: #272b34;
    padding-bottom: 100ex;

}

.successMember h1 {
    color: white;
}

.successMember img {
    align-items: center;
}

