.esewaContainer{

    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh- 88px);

}
.esewaWrapper{
    margin-top: 20px;
    padding : 10px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.esewah1{
    text-align: center;
}

.esewaInput{
    padding : 10px;
    margin: 10px;
}

.cobtn {
    padding : 10px;
    margin: 10px;
    padding-left: 100px;
    padding-right: 110px;
    background-color: rgb(118, 146, 173);
}


.snbtn {
    padding : 10px;
    margin: 10px;
    background-color: rgb(118, 146, 173);
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.snbtn:hover {
    background-color: #648edc;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    cursor: pointer;
}

.cobtn:hover {
    background-color: #648edc;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    cursor: pointer;
}
